* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 340px;
  background-color: #0b0b0b;
  border-radius: 15px;
  padding: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}

/* Brand Text */
.brand {
  color: #d9b06a;
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 6px;
}

.brand .dexin {
  color: #f6aa2b;
  font-weight: 700;
}
.brand .bst {
  color: #bcbcbc;
  margin-left: 2px;
}
.brand .model {
  float: right;
  color: #c8c8c8;
}
.brand .type {
  font-size: 0.75em;
  color: #9a9a9a;
  margin: 3px 0 10px 0;
}

/* Display */
.display {
  background-color: #cfe8d9;
  color: #000;
  height: 45px;
  font-size: 1.1em;
  text-align: right;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 14px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
  font-family: "Courier New", monospace;
}

/* Buttons Grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

/* Buttons */
button {
  height: 42px;
  border: none;
  border-radius: 6px;
  background-color: #1c1c1c;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 0.9em;
  box-shadow: 0 2px 0 #444;
  transition: 0.2s;
}

button:hover {
  background-color: #2e2e2e;
}

/* Special Buttons */
.shift,
.alpha {
  background-color: #ffb400;
  color: #000;
}

.replay {
  background-color: #b0b0b0;
  color: #000;
}

.mode, .on {
  background-color: #555;
}

.ac {
  background-color: #a01616;
}

.equals {
  background-color: #157b59;
}

.equals:hover {
  background-color: #1ea977;
}