.box{
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 20px;
    border:3px double darkred;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
#box1{ background-color:greenyellow;}
#box1:hover{ transform: rotate(45deg);}
#box2{ background-color: brown;}
#box2:hover{ transform: rotate(180deg);}
#box3{ background-color: blueviolet;}
#box3:hover{ transform: rotatex(45deg);}
#box4{ background-color: red;}
#box4:hover{ transform: rotateY(45deg);}